# Ignore personal scripts/misc. files in root kOS directory
/*.*

#ignore boot scripts
boot/*
boot
loaders/*
loaders

#ignore VS Code files
.vscode/*
.vscode



# MS Office temporary
~$*.doc
~$*.docx
~$*.docm
~$*.dot
~$*.dotm
~$*.xls
~$*.xlsx
~$*.xlsm
~$*.xlt
~$*.xltx
*.xlk
~$*.ppt
~$*.pptx
*.~vsd
*.~vsdx